version: "3"

services:
  phpcomposer:
    build:             
      context: .
      dockerfile: Dockerfile
    container_name: 'php-composer'
    platform: linux/amd64
    working_dir: /code
    volumes: 
     - .:/code
     - ./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini

# docker exec -it <container_id> sh                                       # connessione alla console
# docker exec -it <container_id> ./vendor/phpunit/phpunit/phpunit tests/  # lancio tests