on: ["push", "pull_request"]

name: Test Coveralls

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Composer 2
        uses: php-actions/composer@v6

      - name: PHPUnit tests
        uses: php-actions/phpunit@v9
        env:
            TEST_NAME: Scarlett
            COMPONENT_NAME: app
        with:
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
          args: --coverage-php build/cov/coverage-${component_name}.cov

      - name: Upload coverage results to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer global require php-coveralls/php-coveralls
          php-coveralls --coverage_clover=build/logs/clover.xml -v --root_dir .

      # - name: Coveralls
      #   uses: coverallsapp/github-action@1.1.3
      #   with:
      #     path-to-lcov: "./coverage/lcov.info"
      #     github-token: ${{ secrets.GITHUB_TOKEN }}