on: ["push", "pull_request"]

name: Test Coveralls

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Composer 2
        uses: php-actions/composer@v6
        env: 
          COMPOSER_ALLOW_XDEBUG: 1

      # - name: Setup PHP
      #   uses: shivammathur/setup-php@v2
      #   with:
      #     php-version: "8.1"
      #     extensions: ${{ env.extensions }}
      #     coverage: xdebug

      - name: PHPUnit tests
        # env:
        #   XDEBUG_MODE: coverage
        # run: |
        #   php vendor/bin/phpunit --coverage-clover clover.xml --configuration phpunit.xml tests
        #   ls -la
        uses: php-actions/phpunit@v3
        with:
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
          php_extensions: xdebug
          args: --coverage-clover clover.xml --coverage-text
        env:
            XDEBUG_MODE: coverage

      - name: Upload coverage results to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ls -lah
          vendor/bin/php-coveralls --coverage_clover=clover.xml -v 

      # - name: Coveralls
      #   uses: coverallsapp/github-action@1.1.3
      #   with:
      #     path-to-lcov: "./coverage/lcov.info"
      #     github-token: ${{ secrets.GITHUB_TOKEN }}